@use "common/extend.scss" as *;
@use "common/design.scss" as *;
@use "mixins/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins.scss" as *;

@include b(step) {
  &-tail {
    position: absolute;
    top: 0;
    left: 13px;
    box-sizing: border-box;
    width: 1px;
    height: 100%;
    padding: 34px 0 6px;
  }

  &-content {
    display: inline-block;
  }

  &-node {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: var(--bp-gray-1);
    border: $borderSize solid var(--bp-gray-2);
    border-radius: 50%;
    color: var(--bp-gray-9);
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;

    svg[class*="-icon-"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 16px;
      height: 16px;
    }
  }

  &-title {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    color: var(--bp-gray-9);
    line-height: 24px;
    white-space: nowrap;
    text-align: left;
    transition: color 0.25s ease;
  }

  &-desc {
    font-size: 12px;
    color: var(--bp-gray-4);
    line-height: 1;
    max-width: 140px;
    margin-top: 4px;
    white-space: normal;
  }
}

.#{$B}-process {
  .#{$B}-title {
    color: var(--bp-gray-10);
    font-weight: 500;
  }

  .#{$B}-node {
    background-color: var(--bp-primary-6);
    color: var(--bp-gray-0);
    border: $borderSize solid var(--bp-primary-6);
  }
}

.#{$B}-finish {
  .#{$B}-tail {
    &::after {
      background-color: var(--bp-primary-6) !important;
    }
  }

  .#{$B}-title {
    &::after {
      background-color: var(--bp-primary-6) !important;
    }
  }

  .#{$B}-node {
    background-color: var(--bp-primary-1);
    color: var(--bp-primary-6);
    border: $borderSize solid var(--bp-primary-4);

    svg[class*="-icon-"] {
      fill: var(--bp-primary-6);
    }
  }
}
